@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=vietnamese');

html, body, div, a,p, form, button,ul,li, nav, h1,pre{padding: 0; margin: 0;}
a{text-decoration: none;}
li{list-style: none;}
body{font-family: 'Roboto', sans-serif; font-size: 13px; position: relative;}
.text-center{text-align: center;}

header{ background: linear-gradient(to bottom, #fda8d7 0%,#ff6cbd 92%);}
.wrapper{width: 1000px;font-size: 14px; margin: 0 auto;display: grid;
	grid-template-columns: repeat(12,1fr);
	/* grid-template-rows: 40px 100px 40px; */
}
/* background: #fd706d; */
.header{grid-column: span 12; 
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

header .search{
	display: inline-flex;
	margin: 10px;
	height: 30px;
}
header .search form{
	width: 90%;
	display: inline-flex;
}
header .box-search{
	width: 100%;
	border: 1px solid #fff;
	outline: 0;
	border-radius: 0.5em 0 0 0.5em;
	font-size: inherit;
	padding: 0.2em 0.5em;
}
header .button-search{
	outline: 0;
	border: 1px solid #fff;
	border-left: 0;
	font-size: inherit;
	color:white;
	background: #ff6cbd;
	border-radius: 0 0.5em 0.5em 0;
	padding: 0 0.7em;
	cursor: pointer;
}
.giohang{float: right; margin: 10px 20px; background: #fff;
	width: 70px;border-radius: 10px; height: 30px; line-height: 30px; text-align: center; 
	color: #ff6cbd; font-weight: 600; }
.giohang:hover{text-decoration: underline;}

.logo a{display: block;margin: 15px;}
.logo{grid-column: span 2;}
.search{grid-column: span 6;}
.iconmenu{}
.cart{grid-column: span 3;}
.fa-bars, .fa-times{font-size: 25px; margin: 15px; color: #fff;}
.menu2 .fa-bars{margin: 0; font-size: 20px;}

.banner{grid-column: span 12;}
.box{grid-column: span 4;}

.menu{grid-column: span 12;z-index: 100;}
.list{ grid-column: span 3; padding: 0 10px 0 0;}

.menu ul{ height: 30px;background: linear-gradient(to bottom, #fda8d7 0%,#ff6cbd 92%);}
.menu ul li{float: left; position: relative; }
.menu ul li a{display: block;line-height: 30px;padding: 0 8px; font-weight: bold; color: #fff; text-decoration: none;}
.menu ul li a:hover{background: #fda8d7;}
.menu ul ul{ position: absolute;top:30px; left:0;}
.menu ul li li{ float: none; z-index: 110; display: none;}
.menu ul li li a{width: 220px;padding: 8px; line-height:2; color:#666; font-weight: 700; 
	background: rgba(255, 210, 235, 0.86); font-size: 11px; border-bottom:2px dotted #ff6cbd;}
.menu ul li li a:hover{background: linear-gradient(to bottom, #fda8d7 0%,#ff6cbd 92%);}
.menu ul li:hover li{display: inline;}

.list ul{margin-top:10px;}
.web-title {clear: both;}
.web-title p{background:linear-gradient(to bottom, #fda8d7 0%,#ff6cbd 92%); 
    padding: 7px 10px 8px 10px; font-size: 110%; color:#fff; text-transform: uppercase; font-weight: bold;}
.list ul li{list-style: none;}
.list ul li a{text-decoration: none; font-weight: 600; display: block;margin: 0 5px; 
    padding: 7px; border-bottom: 1px black dotted; color: #666;}
.list ul li a:hover{background: #fda8d7;color: #fff;}
.list ul li p.info{text-align: center; padding: 15px; font-weight: 600;}

.content{ grid-column: span 9;
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/* grid-template-rows: 50px 50px; */
}
/* background: #fecb65; */
.content-left{grid-column: span 12;}
.content-right{ grid-column: span 12;}
.footer{ grid-column: span 12;}
/* background:#8ad7b1; */
footer{line-height: 2; background:linear-gradient(to bottom, #fda8d7 0%,#ff6cbd 92%); color:white;padding: 30px 0; margin-top: 20px; }
#menu, #close{display:none;}

.card{height:340px; width: 23%; padding: 0 7px 20px ; float: left; position: relative; overflow: hidden;}

.card:hover .card-img img{transition: .3s ; transform: scale(1.2);z-index: 12;}
.card:hover .name{color: red;}
.card-img{overflow: hidden;cursor: pointer;}
.card-img img{width: 100%;}
.card-detail{ width: 100%; position: relative;}
.name{color: #000; text-decoration: none; text-align: center;font-weight: bold;display: block;
    line-height: 1.5;margin-top: 5px;}
.id{color:green;font-weight: bold;text-align: center;font-size: 15px;line-height: 2;}
.gia{color:red; font-size: 15px;font-weight: bold;}
.gia-goc{text-decoration: line-through;font-size:13px;line-height: 1.6;}
.hang{font-size: 15px;font-weight: 800;}
.soldout{position: absolute;top:5%; left: -14%;background: red; color: #fff; font-weight: bold;
		transform: rotate(-45deg); padding:5px 25px; z-index: 13;}
.sale{position: absolute;right: 5%;bottom: 30%; height:45px;display: block;line-height: 1.4; 
	width: 45px;border-radius: 3px;background: red;color: #fff; text-align: center;
	font-weight: bold; margin-right: 5px;
}
.sale:after{
	content:'';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	left:-5px;
	height: 10px;
	width: 10px;
	background: red;
}
.sale span{font-weight: 400;}

button, .addtocart{
	position: relative;
	width: 130px;
	height: 30px;
	margin: 10px 0 0;
	background: transparent;
	border: 1px solid red;
	font-size: 17px;
	font-family: ;
	cursor: pointer;
	font-weight: bold;
	transition: .2s;
	outline: 0;
}
.addtocart{border: 1px solid #333;color: #333;}
.addtocart:after{
	content:'';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) skew(-20deg);
	background: #ddd;
	width: 15px;
	z-index: -1;
	height: 30px;
	transition: .3s all ease-in-out;
	}
.addtocart:hover:after{
	width: 130px;
	transform: translate(-50%,-50%) skew(0deg);
} 


.owl-carousel1 img{height: 300px; width: 100%;overflow: hidden;}
.owl-carousel2 img{height: 100px; width: 100%;overflow: hidden;}
.owl-prev{position: absolute;bottom: 40%; left: 0;width: 30px;}
.owl-next{position: absolute;bottom: 40%; right: 0; width: 30px;}

.owl-dots{position:absolute;bottom:0;left: 0;}
.owl-dots .owl-dot{width: 30px;}

footer .box{padding-left:20px;}
.tag {width: 90%; text-align: justify;}
.tag ul li a{float: left;font-weight: 600; font-size: 11px; padding: 5px;background: white; 
		color: #ff6cbd;margin:5px 5px 5px 0;}
.tag ul li a:hover{background: #bbb; color: #fff}

footer h2{color:#555; text-decoration: underline #666;}
/* sanpham */
.box2{grid-column: span 6;}
.content-detail{padding: 15px;}
#anhchinh{width: 80%;min-height: 300px; max-height: 400px;margin-bottom: 20px; overflow: hidden; }
#anhchinh img{width: 100%;}

.tang, .giam{font-size: 18px;font-weight: 600;cursor: pointer; width: 30px; height: 30px;
	border:1px solid #ddd; background: #ddd;text-align: center; display: block;float: left;
	line-height: 30px;}
.qty{float: left;outline: 0;border:1px solid #ddd;height: 28px;; margin: 0;padding: 0; height: 30px; width: 50px; text-align: center;}
.tang:after{content:'+';}
.giam:after{content:'-';}

@media screen and (max-width: 940px){
	.card{padding: 10px 10px 10px 5px;width: 30%;}
}

@media screen and (max-width: 768px){
	.wrapper{width: 100%;}
	.logo{grid-row: 1; grid-column: span 10; }
	.iconmenu{grid-row: 1; grid-column: span 2; }
	.search{grid-row: 2; grid-column: span 9; }
	.cart{grid-row: 2; grid-column: span 3; }
	
	#menu, #close{display:inline;}
	#menu{cursor: pointer;float: right;}
	#close{ cursor: pointer;float: right;font: 22px bold; font-family: sans-serif;}
	.header{grid-column: span 12;}
    .menu{width: 100%; position: absolute;top:0; left: 0;height: 100vh;
        transform: translateX(-100%);transition: .5s;}
    .list{ grid-column: span 12; padding:0;}
	.content{grid-column: span 12;}
	.box, .box2{grid-column: span 12;}
	#anhchinh{display: none;}
	.owl-carousel2 img {min-height: 300px;overflow: hidden;}

	/* grid-row: 1; */
	.owl-carousel1 img{height: 150px; width: 100%;overflow: hidden;}
	.card{padding: 10px 10px 10px 5px;width: 45%;}
	
	.menu{height: 100vh; background:#ff6cbd;}
	.menu ul{ background: #ff6cbd;margin-top: 30px;}
	.menu ul li{float: none; position: relative;height: 40px;display: block; }
	.menu ul li a{width: 70%; display: block;font-size: 15px; font-weight: normal; line-height: 35px;
		margin: 0 10px; padding: 0 20px; color: #fff; text-decoration: none;}
	.menu ul li a:hover{background: #fda8d7; border-bottom: 1px dotted black; }
	.menu ul ul{ position: relative;}
	.menu ul li li{float: none; z-index: 100;display: none;}
	.menu ul li li a:hover{background: none;}
	.menu ul li:hover li{display: none;}
	.list ul li p.info{padding: 10px; }
}